/* ==========================================================================
   Placeholder
   ========================================================================== */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: inherit;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: inherit;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: inherit;
}
