/* ==========================================================================
   Colors
   ========================================================================== */

/* Global
   -------------------------------------------------------------------------- */

$color-black:              #000;
$color-gray-boulder:       #777;
$color-white:              #fff;


/* Gradients
   -------------------------------------------------------------------------- */

$gradient-site:            linear-gradient(to right, #12caf1, #49f6d9);
